html, body {
	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;
}

#content {
	width: 100%;
	text-align: center;
}

canvas {
	display: inline;
	border: 1px solid black;
}

h1 {
	text-align: left;
}

h2 {
	text-align: left;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}

#gauge {
	position: absolute;
	left: 17vw;
	top:10px;
	font-size: 24px;
	font-weight: bold;
}

#nitro {
	position: absolute;
	right: 17vw;
	top:10px;
	font-size: 24px;
	font-weight: bold;
}

.end {
	background: #000;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}

.end-text {
	font-size: 36px;
	font-weight: bold;
	padding-top: 150px;
}

.time {
	position: absolute;
	top: 20px;
	left: 48.5%;
	color: #fff;
	font-size: 36px;
}